* {
  margin: 0;
  padding: 0;
}

.windowspanel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 596px;
}

.tabs {
  flex: 1;
  overflow: auto;
}

.tab {
  padding: 5px;
}

.tab.focused {
  background-color: #fce4ec;
}

.tab .title, .tab .url {
  overflow: hidden;
  white-space: nowrap;
}

.search-container {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  height: 40px;
}

.search {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
