* {
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

.windowspanel {
	font-family:'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	height: 540px;
	background-color: #fff;
}

.tabs {
	height: 100%;
	overflow: auto;
}

.inner-tabs {
	width: 100%;
}

.title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tab {
	padding: 3px 23px 3px 3px;
	line-height: 22px;
	overflow: hidden;
	font-size: 15px;
}

.tab:hover {
	background-color: #444;
	color: #eee;
}

.tab-search-box {
	width: 565px;
	margin: 10px;
	padding: 2px;
}

.favicon {
	width: 24px;
	text-align: center;
}

.sign {
	width: 20px;
	text-align: center;
}

.close-button {
	cursor: pointer;
	width: 30px;
	text-align: right;
	padding-right: 20px;
}

.active {
	color: red;
}

.menu {
	position: absolute;
	top: 0;
}

.invisible {
	display: none;
}

.visible {
}
